%h2
  About me
  %ul.about-me__menu
    %li.menu-item.active
      %p Welcome!!
    %li.menu-item
      %p Search your interests.
    %li.menu-item
      %p From Map.
    %li.menu-item
      %p Check detail.
    %li.menu-item
      %p Post your history.
    %li.menu-item
      %p Let's go on a journey.
  %ul.contents
    %li.content.show
      = image_tag "vintage-1659117_1920.jpg", :alt =>"about me",class: "about-me-image"
    %li.content
      = image_tag "vintage-1659117_1920.jpg", :alt =>"about me",class: "about-me-image"
    %li.content
      = image_tag "vintage-1659117_1920.jpg", :alt =>"about me",class: "about-me-image"
    %li.content
      = image_tag "vintage-1659117_1920.jpg", :alt =>"about me",class: "about-me-image"
    %li.content
      = image_tag "vintage-1659117_1920.jpg", :alt =>"about me",class: "about-me-image"
    %li.content
      = image_tag "vintage-1659117_1920.jpg", :alt =>"about me",class: "about-me-image"