.header
  = render 'olde/header'
.main
  -if @hashtag.hashname == 0
    %p No List
  - else
    %h2
      = @hashtag.hashname
    .main__images-box
      - @photos.each do |photo|
        .image-box
          =link_to photo_path(photo.id) do
            = image_tag photo.image.url(:thumb), class: 'image-box-image'
            %p.photo-frame__content
              = render_with_hashtags(photo.content)
  = paginate @photos

.footer