.photo-frame
  .photo-frame__photo-info
    .user-name
      User name :
      = link_to user_path(@user) do
        = @photo.user.name
    .created-at
      = @photo.created_at.strftime("%Y/%m/%d %H:%M")
      It's
      %time(datetime="#{@photo.created_at}")= time_ago_in_words(@photo.created_at) + " ago"
    -if user_signed_in? && current_user.id == @photo.user_id
      %ul.photo-edit
        %li.edit-form
          =link_to edit_photo_path do
            =icon("fas","edit")
            Edit
        %li.delete-btn
          =link_to photo_path, method: :delete do
            =icon("fas","trash-alt")
            Delete
    -if user_signed_in?
      #bookmark-btn
        =render "bookmarks/bookmark"
    .detail-form
      = link_to @photo.image.url, 'data-lightbox': @photo.image do
        = image_tag @photo.image.url, class: 'photo-frame__image'
      .photo-frame__content
        = simple_format(render_with_hashtags(@photo.content))
