.header
  = render 'olde/header'
.main
  .main__photo-form
    = form_with model: @photo, local: true do |f|
      .photo-box
        = f.label :image, class: 'photo-box__image' do
          =icon('fas', 'image',class: 'image-icon')
          =f.file_field :image, type: 'file', class: 'photo-box__image__file'
          %p "Choose your photo"

      .input-box
        = f.text_area :content, class: 'input-box__text', placeholder: "Type a message"
        = f.label :descripton do
          =icon("fas","search-location", id: "searchAddressBtn")
          = f.text_field :description, class:'input-box__description',placeholder:"Search a description..."
      .map-area
        #map{:style => "width: 400px; height: 300px;"}
      .description-box
        = f.text_field :latitude, id:"post_latitude",readonly:"readonly"
        = f.text_field :longitude,id:"post_longitude", readonly:"readonly"

      = f.submit 'Edit', class: 'submit-btn'


.footer
  =render "olde/footer"